@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;400;700&display=swap");

:root {
  --font-detail: "Noto Sans Mono", monospace;
}

.album__stock {
  border: 1px solid #333;
  border-radius: 99em;
  padding: 5px 10px;
  font-family: var(--font-detail);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.album__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  /* width: 40%; */
}

.album__coverImage {
text-align: center;
  width: 100%;
  height: 100%;
  padding: 2rem;

}

.album__coverImage img {
  width: 600px;
  height: 600px;
  -webkit-box-shadow: 8px 8px 34px 5px black;
  box-shadow: 8px 8px 34px 5px black;
}

.album__info {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
}

.album__title {
  font-size: 2rem;
  margin-top: 2rem;
}

.album__title span {
    animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText{
  0%{		color: aliceblue;	}
  /* 49%{	color: transparent;	} */
  50%{	color: transparent;	}
  /* 99%{	color:transparent;	} */
  100%{	color: aliceblue;	}
}

.album__price {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-detail);
  font-size: 1.3rem;
}

.album__price span {
  font-size: 1.7rem;
}

.album__artist {
  padding-bottom: 0.7rem;
  font-size: 1.3rem;
  font-family: var(--font-detail);
  color: #cccccc;
}

.album__artist span {
  color: aliceblue;
}

.album__actions {
  display: flex;
  margin-top: 1rem;
  margin-right: 2rem;
}

.action__text{
  margin-right: 1rem;
  padding: 0.7rem 1.3rem;
  border: 1px solid #6e0469;
  border-radius: 99em;
  background-color: #6e0469;
  font-family: var(--font-detail);
}

/*!SMALL DEVICES MEDIA QUERIES */
@media only screen and (max-width: 963px) {
}

/*!MEDIUM DEVICES*/
@media only screen and (max-width: 1300px) {
  .album__coverImage img {
    width: 400px;
    height: 400px;
  }
}

/*!MEDIUM DEVICES*/
@media only screen and (max-width: 1800px) {
  .album__coverImage img {
    width: 500px;
    height: 500px;
  }
}

/*!EXTRA LARGE DEVICES*/
@media only screen and (min-width: 2000px) {

}
