.cartItem__row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.cartItem__row:hover {
  cursor: pointer;
}

.cartItem__info {
  flex: 3;
  flex-wrap: wrap;
}

.cartItem__buttons {
  flex: 2;
}

.cartItem__imageBox {
  padding: 10px;
  flex: 2;
}
.cartItem__imageBox img {
  width: 125px;
  height: 125px;
}

.cartItem__price {
  display: flex;
  justify-content: center;
  flex: 2;
}

.cartItemDelete__button {
  display: flex;
  justify-content: center;
  flex: 1;
  background: none;
  border: none;
  color: #ccc;
}

.cartItemDelete__button:hover {
  cursor: pointer;
  transform: scale(1.5);
}
