.cartItem__buttons {
  display: flex;
  flex: 2;
  align-items: center;
  text-align: center;
}

.cartItem__qty {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #1b0b21;
  color: aliceblue;
  text-align: center;
  font-size: 15px;
}

.cartItem__button {
  width: 1em;
  height: 1em;
  background: none;
  border: none;
  color: aliceblue;
  font-size: 2rem;
  line-height: 0;
}

.cartItem__button:hover {
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 50%;
  color: #282c34;
}

/*!SMALL DEVICES MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  .cartItem__qty {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 15px;
  }
}

/*!TABLETS DEVICES*/
@media only screen and (max-width: 820px) {
}

/*!DESKTOP DEVICES*/
@media only screen and (max-width: 1024px) {
}

/*!EXTRA LARGE DEVICES*/
@media only screen and (min-width: 1200px) {
}
