.galleryProducts__container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.shoppingCart__p{
    color: aliceblue;
}

.displayInfo__p{
    color: aliceblue;
}
