.cartSummary__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.cartSummary__p{
    letter-spacing: 1px;
}

.cartSummary__qty,.cartSummary__price{
    font-size: 15px;
    font-weight: 700;
}
