.cartSummary__container {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.cartSummary__p {
  margin: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(160, 158, 158);
}
