@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
}

*{
    font-family: var(--font-family);
}

.card {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 2rem;
  background-color: #233545;
  border-radius: 20px;
  overflow: hidden;
}

.card:hover {
    cursor: pointer;
  }

.card .images__box img{
    width: 100%;
}

.card .card__body{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    color: aliceblue;
    transition: 1s;
    z-index: 90;
}

.card:hover .card__body {
    height: 400px;
}

.card:hover .images__box img {
    opacity: 0.2;
}

.card__title {
    position: relative;
    padding: 0.5rem;
    margin-bottom: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.card__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.card__artist{
    font-weight: 600;
    font-size: 1.3rem;
}

.card__year{
    font-style: italic;
}
.card__end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
}

.card__price{
    font-size: 2rem;
}

.card__price-span{
    font-size: 1.7rem;
    font-weight: 700;
}

.card__button{
    background: none;
    border: none;
    color:aliceblue ;
}

.card__button:hover{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    color: #233545;
    cursor: pointer;
}