@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
}

* {
  font-family: var(--font-family);
}

.shoppingCart__container {
  /* display: flex; */
  width: 60%;
  position: sticky;
  top: 100px;
  height: 80vh;
  align-self: flex-start;
  color: aliceblue;
  overflow-y: auto;
}

.shoppingCart__h2 {
  font-size: 2rem;
}

.shoppingCart__p {
  margin-top: 7rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #233545 #3c4043;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #3c4043;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #233545;
    border-radius: 0px;
    border: 21px none #ffffff;
  }
