@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
}

* {
  font-family: var(--font-family);
}

.shoppingCart__container {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 90px 20px 20px 20px;
  color: aliceblue;
}

.shoppingCart__h2 {
  font-size: 30px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.listItems__container {
  padding: 20px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1b0b21 #3c4043;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #303234;
}

*::-webkit-scrollbar-thumb {
  background-color: #1b0b21;
  border-radius: 0px;
  border: 21px none #ffffff;
}

/*!SMALL DEVICES MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  .shoppingCart__h2{
    font-size: 20px;
  }
}

/*!TABLETS DEVICES*/
@media only screen and (max-width: 820px) {
  .shoppingCart__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/*!DESKTOP DEVICES*/
@media only screen and (min-width: 1024px) {
  .shoppingCart__container{
    width: 100%;
  }
}

/*!EXTRA LARGE DEVICES*/
@media only screen and (min-width: 1200px) {
  .shoppingCart__container{
    width: 80%;
  }
  .listItems__container {
    width: 50%;
  }
}
