@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
}

* {
  font-family: var(--font-family);
}

.shoppingCart__container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 2rem;

  color: aliceblue;
}

.shoppingCart__h2 {
  font-size: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.listItems__container {
  margin: 1rem;
  height: 70%;
  overflow-y: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1b0b21 #3c4043;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #303234;
}

*::-webkit-scrollbar-thumb {
  background-color: #1b0b21;
  border-radius: 0px;
  border: 21px none #ffffff;
}
