@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --primary-color: #7a7a7a;
  --secondary-color: #5a7c85;
  --light-color: #f4f4f4;
  --duration: 13s;
}

.container__div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  padding: 20px;
  color: var(--light-color);
}

.logo__div {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar__nav {
  flex: 2;
}

.navbar__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar__li {
  padding: 10px;
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.account__div {
  flex: 1;
}

.icons__ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 1rem;
}

.icons__li {
  position: relative;
  padding-right: 1rem;
  cursor: pointer;
}

.icons__li button {
  background: none;
  color: aliceblue;
  cursor: pointer;
}

.numberItems[data-count]:after {
  position: absolute;
  right: 10px;
  top: 20px;
  content: attr(data-count);
  font-size: 0.8em;
  padding: 0.6em 0.1em;
  line-height: 0.75em;
  color: aliceblue;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: #df0000;
  border-radius: 50%;
}

.logo__div {
  margin-left: 1rem;
}

.logo__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.navbar__user {
  display: flex;
  align-items: center;
}

.navbar__user-text{
  padding-right: 20px;
}

.navbar__cart{
  position: absolute;
  top: 60px;
  right: 50px;
  display: flex;
  width: 450px;
  height: 450px;
  border-radius: 20px;
  background-color: #290232;
  overflow-y: auto;
}

.navbar__cart::-webkit-scrollbar {
  display: none;
}