.wishList-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 40px 80px;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.favGallery__h2 {
  font-size: 20px;
  margin: 50px 10px 10px 10px;
  padding-top:20px;
}

.favList__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}


/*!SMALL DEVICES MEDIA QUERIES */
@media only screen and (max-width: 480px) {

}

/*!TABLETS DEVICES*/
@media only screen and (max-width: 820px) {
  .wishList-wrap {
    padding: 40px 20px;
  }
}

/*!DESKTOP DEVICES*/
@media only screen and (min-width: 1024px) {
}

/*!EXTRA LARGE DEVICES*/
@media only screen and (min-width: 1200px) {

}