body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.container__section{
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 1rem;
}
