* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

:root {
  --backgroundColor: #1b0b21;
  --backgroundImage: linear-gradient(147deg, #000000 0%, #1b0b21);
}

.shop__container {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  background-image: var(--backgroundImage);
}

.container__gallery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 1.5rem;
  padding: 1rem;
  overflow: auto;
}

.wishList__container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.container__cart,
.photos__sliderWrapper,
.detail__container,
.dates__container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  height: 100%;
  overflow: auto;
}

.profile__container {
  display: flex;
  justify-content: flex-start;
  min-height: 90vh;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.detail__container {
  padding: 3rem 8rem;
  color: aliceblue;
}

.detail__section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);

  /* Basic background styles */
  background: url("./assets/img/gallery/pexels-aleksandar-pasaric-2078071.jpg")
    center center no-repeat;
  background-size: cover;
}

.error-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 460px;
  text-align: center;
  line-height: 1.4;
}

.notFound-404 {
  height: 158px;
  line-height: 153px;
}

.notFound-h1 {
  margin: 0px;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  font-weight: 700;
  text-shadow: 2px 2px 0px aliceblue, -2px -2px 0px aliceblue;
}

.notFound-h1 > span {
  text-shadow: 2px 2px 0px #8307b9, -2px -2px 0px #8307b9, 0px 0px 8px #550975;
}

.notFound-message {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #c9c9c9;
  font-weight: 400;
  font-size: 16px;
}

.contact-image {
  height: 400px;
  width: 400px;
}

.logo-img{
  position: absolute;
  left: 30px;
  top:30px;
  width: 150px;
}

/*!SMALL DEVICES MEDIA QUERIES */
@media only screen and (max-width: 360px) {

}

/*!TABLETS DEVICES*/
@media only screen and (max-width: 601px) {
  .logo-img{
    left: 20px;
    top:20px;
    width: 150px;
  }
}

/*!DESKTOP DEVICES*/
@media only screen and (max-width: 1024px) {
  .logo-img{
    left: 100px;
    top:50px;
    width: 200px;
  }
}

/*!EXTRA LARGE DEVICES*/
@media only screen and (min-width: 1900px) {
}